<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Application</title>
<!-- bootstrap -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./styles/style.scss">
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
      <h1 class="display-4">Travel Weather App</h1>
  </div>
  <div class ="holder zip">
    <label for="zip">Destination</label>
    <input type="text" id="zip" placeholder="Enter City of Destination">
  </div>
  <div class ="holder feel">
      <div class="feel_box">
          <label for="feelings">Arrival Date</label>
      </div>
      <div class="feel_box">
          <input type="date" name="date" id="date" class="date" min="0" required>
      </div>
      <div class="feel_box">
          <button class="btn btn-primary float-right" id="generate" type = "submit" > Get Forecast! </button>
      </div>
  </div>
  </div>
  </div>
<footer>
  <h2 class="text-center">Travel Weather App</h2>
  <p class="text-center">&copy; NissiStudios</p><br>
  <a href="https://github.com/nissichima" class="fa fa-github"></a>
  <a href="https://www.linkedin.com/in/nissi-chima-a6503b212/" class="fa fa-linkedin"></a>
</footer>
<script src="app.js" type="text/javascript"></script>
<script type="text/javascript" src="main.js"></script>

</body>
</html>