<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <title>Travel App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
        <link  href="./styles/style.scss" type = "text/css">
    </head>
    <body>
        <div id = "app">
            <div class ="holder headline">
            <h1 class="display-4">Travel Weather App</h1>
            </div>
            <main>
                <section class="planner" onsubmit="return Client.handleSubmit(event)">
                    <div id="planner-title">
                    </div>
                  <form id="plan-create" class="form-plan">
                    <div class ="holder zip">
                        <label for="zip">Destination</label>
                            <input type="text" id="zip" placeholder="Enter City of Destination">
                    </div>

                    <div class ="holder feel">

                        <div class="feel_box">
                            <label for="feelings">Arrival Date</label>
                        </div>
                        <div class="feel_box">
                            <input type="date" name="date" id="date" class="date" min="0" required>
                        </div>

                    </div>
    
                    <div class="feel_box">
                        <button class="btn btn-primary float-right" id="generate" type = "submit" > Get Forecast! </button>
                    </div>

                  </form>                  
                </section>

                <section>
                    <div id="msg" class="msg-info"></div>
                </section>
                <section>
                    <div id="error" class="error-info"></div>
                </section>
                    
                <section id="result-data" class="result-section"> 
                                               
                    <div id="trip-info">                        
                        <p id="result-days"><b>(Including Today) Arrving in: </b><span id="days-out"></span> Days</p>
                    </div>   
                    <div id="image-info">                       
                        <div id="pixabay-images">
                            <img alt="destination_image_1"  id="pixabay1" src = "https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2l0eXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" class = "pixabay1">
                        </div>
                    </div>         
                    <div id="city-info">                                                
                        <p id="result-city"><span id="city"></span>, <span id="country"></span></p>
                    </div>             
                    <div id="weather-info">                      
                        <p id="w-icon"><img id="weather-icon" src="https://www.weatherbit.io/static/img/icons/a03d.png" alt="weather_icon" style="float:left"></p>
                        <p id="result-weather"><span id="weather-desc"></span></p>
                        <p id="result-weather-high"><b>Temp (High): </b><span id="high-temp"></span> &#176C</p>
                        <p id="result-weather-low"><b>Temp (Low): </b><span id="low-temp"></span> &#176C</p>
                        <p id="result-weather-humidity"><b>Humidity (%): </b><span id="humidity"></span> %</p>
                        <p id="result-weather-precipitation"><b>Precipitation (%): </b><span id="precipitation"></span> %</p>
                    </div>                          
                    
                 
                </div>                           
            </main>
        </div>
        <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js').then(registration => {
                    console.log('SW registered: ', registration)
                }).catch(registrationError => {
                    console.log('SW registration failed: ', registrationError)
                })
            })
        }  
    </script>

    </body>
<footer>
    <h2 class="text-center">Weather Travel App</h2>
    <p class="text-center">&copy; NissiStudios</p><br>
    <a href="https://github.com/nissichima" class="fa fa-github"></a>
    <a href="https://www.linkedin.com/in/nissi-chima-a6503b212/" class="fa fa-linkedin"></a>
</footer>
</html>